<% content_for :js do %>
  <%= javascript_import_module_tag "controllers/expense_search" %>
<% end %>

<%= render "expense_module/layout/nav_list" %>

<div class="expense_container">
  <div class="expense_content">
    <div class="expense_search">
      <%= form_with url: search_expense_module_home_index_path, method: :get, local: true, id: "month-form" do |form| %>
        <%= form.select :month, (1..12).map { |month| [ "#{month}月", month ] }, { selected: @selected_month.month }, { id: "month-select" } %>
      <% end %>

      <div class="export_link">
        <%= link_to "PDF出力", expense_module_expense_categories_path %>
      </div>
    </div>

    <p class="expense_current_time">
      <span><%= @selected_month.month %>月</span>
      の状況

      <% if @current_time.month == @selected_month.month %>
        <span>（現在：<%= "#{@selected_month.month}月#{@selected_month.day}日" %>）</span>
      <% end %>
    </p>

    <div class="expense_detail">
      <div class="expense_chart">
        <%= column_chart(
          {
            "収入" => @total_incomes_amount.to_i,
            "支出" => @total_expenses_amount.to_i,
            "予想支出" => @total_expected_amount.to_i
          },
          suffix: "円",
          height: "100%",
          width: "100%",
          colors: ["#76b041", "#ff5733", "#f4c242"]
        ) %>
      </div>

      <div class="expense_value_list">
        <div class="expense_value_item">
          <p>収入</p>
          <p>¥ <%= number_with_delimiter(@total_incomes_amount.to_i) %></p>
        </div>

        <div class="expense_value_item">
          <p>支出</p>
          <p>¥ <%= number_with_delimiter(@total_expenses_amount.to_i) %></p>
        </div>

        <div class="expense_value_item">
          <p>予想支出</p>
          <p>¥ <%= number_with_delimiter(@total_expected_amount.to_i) %></p>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render "expense_module/layout/header" %>