<% content_for :js do %>
  <%= javascript_import_module_tag "controllers/expense_search" %>
<% end %>

<%= render "expense_module/layout/nav_list" %>

<div class="expense_container">
  <div class="expense_content">
    <div class="expense_search">
      <select id="month-select">
        <% (1..12).each do |month| %>
          <option value="<%= month %>" <%= 'selected' if month == @current_time.month %>><%= "#{month}月" %></option>
        <% end %>
      </select>

      <div class="export_link">
        <%= link_to "PDF出力", expense_module_expense_categories_path %>
      </div>
    </div>

    <p class="expense_current_time">
      <span><%= @current_time.month %>月</span>
      の状況
      <span>（現在：<%= "#{@current_time.month}月#{@current_time.day}日" %>）</span>
    </p>

    <div class="expense_detail">
      <div class="expense_chart">
        <%= column_chart({ "収入" => 500000, "支出" => 300000, "予想支出" => 400000 }, suffix: "円", height: "100%", width: "100%", colors: ["#76b041", "#ff5733", "#f4c242"]) %>
      </div>

      <div class="expense_value_list">
        <div class="expense_value_item">
          <p>収入</p>
          <p>480,000円</p>
        </div>

        <div class="expense_value_item">
          <p>収入</p>
          <p>280,000円</p>
        </div>

        <div class="expense_value_item">
          <p>収入</p>
          <p>380,000円</p>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render "expense_module/layout/header" %>