<%= render "expense_module/layout/nav_list" %>

<div class="expense_container">
  <div class="category_content">
    <div class="category_common_btns">
      <%= link_to "支出", expense_module_expense_categories_path, class: "category_common_btn #{'unactive' unless current_page?(expense_module_expense_categories_path)}" %>
      <%= link_to "収入", expense_module_income_categories_path, class: "category_common_btn #{'unactive' unless current_page?(expense_module_income_categories_path)}" %>
    </div>

    <div class="category_list">
      <% if notice %>
        <div class="expense_flash notice">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="expense_flash alert">
          <%= alert %>
        </div>
      <% end %>

      <% if @income_categories.present? %>
        <% @income_categories.each do |income_category| %>
          <%= link_to edit_expense_module_income_category_path(income_category), class: "category_item" do  %>
            <div class="category_item_left">
              <p><%= income_category.name %></p>
            </div>

            <div class="expense_category_arrow">
              <%= image_tag "expense_category_arrow" %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p class="not_expense_category">
          収入カテゴリーがありません。<br>
          新しく追加してください。
        </p>
      <% end %>
    </div>

    <div class="category_list_link">
      <%= link_to "新規追加", new_expense_module_income_category_path, class: "category_common_btn" %>
    </div>
  </div>
</div>

<%= render "expense_module/layout/header" %>