<%= render "expense_module/layout/nav_list" %>

<div class="expense_container">
  <div class="category_common_btns">
    <%= link_to "支出", new_expense_module_expense_path, class: "category_common_btn #{'unactive' unless current_page?(new_expense_module_expense_path)}" %>
    <%= link_to "収入", new_expense_module_income_path, class: "category_common_btn #{'unactive' unless current_page?(new_expense_module_income_path)}" %>
  </div>

  <h2 class="expense_category_title">収入入力</h2>

  <% if notice %>
    <div class="expense_flash notice">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="expense_flash alert">
      <%= alert %>
    </div>
  <% end %>

  <%= render 'form', income: @income %>
</div>
